section{
  display:flex;
  flex-direction: column;
  flex:1;
  &#main_content{
    .r-bl{
      padding:10px 0;
      .name-column{
        max-width:12%;
      }
      .content{
        .row{
          position:relative;
          padding-bottom:5px;
        }
        .name{
          font-weight: bold;
        }
      }
      .content-column{
        ul{
          padding-left:0px;
        }
      }
      &#wish{
        .content{
          .name{
            font-size:1.3em;
            color:#000;
          }
        }
      }
      &#experience{
        .content{
          display:flex;
          flex-direction:column;
          margin-bottom:10px;
          .row{
            display:flex;
            flex-direction:row;
            margin-bottom:10px;
            line-height:1.8;
            .name-column{
              flex:1;
              padding-top:5px;

            }
            .content-column{
              flex:1;
              .name{
                font-size:1.2em;
                color:#000;
              }
            }
          }
        }
      }
      &#courses{
        .content{
          display:flex;
          flex-direction:column;
          margin-bottom:10px;
          .row{
            display:flex;
            flex-direction:row;
            margin-bottom:10px;
            .name-column{
              flex:1;
              padding-top:5px;
            }
            .content-column{
              flex:1;
              .name{
                font-size:1.3em;
                color:#000;
              }
            }
          }
        }
      }
      &#education{
        .content{
          .name{
            font-size:1.2em;
            margin-bottom:10px;
          }
          .description{
            display:flex;
            flex-direction:column;
            margin-bottom:10px;
            .row{
              display:flex;
              flex-direction:row;
              margin-bottom:15px;
              .name-column{
                flex:1;
              }
              .content-column{
                flex:1;
                .name{
                  font-size:1.3em;
                  color:#000;
                }
              }
            }

          }

        }
      }
      &#skills{
        .content{
          #languages{
            position:relative;
            display:flex;
            flex-direction:row;
            margin-bottom:10px;
            .name-column{
              flex:1;
            }
            .content-column{
              flex:1;
            }
          }
          #skills_elems{
            display:flex;
            flex-direction:row;
            .name-column{
              flex:1;
            }
            .content-column{
              display:flex;
              flex-direction:row;
              flex:1;
              ul{
                display:flex;
                flex-flow: row wrap;
                li{
                  width:auto;
                  padding:5px 5px;
                  margin: 0 5px 5px 0;
                  background:$light-grey2;
                }
              }
            }
          }
        }


      }
      .content{
        padding:5px 0;
        ul{
          margin:0;
          li{
            list-style-type: none;
          }
        }
      }
    }
    .title{
      position:relative;
      color:$light-grey;
      font-size: 1.2em;
      &:after{
        @include after-light();
      }
    }
    .container{
      display:flex;
      flex-direction: column;
      flex:1;

    }

  }
}