@media screen and (min-width: 1300px) {
   body,.container{
     background: #99e71e;
   }
}

@media screen and (max-width: 1285px) and (min-width: 1020px) {
   /*body,.container{
     background:purple;
   }
*/
}

@media screen and (max-width: 1020px) {
  body,.container{
    background:orange;
  }

}
@media screen and (max-width: 830px) {
   body,.container{
     background:green;
   }

}
@media screen and (orientation:landscape) and (max-height:414px) {
  body,.container{
    background:grey;
  }


}
@media screen and (max-width: 630px) {
  body,.container{
    background:blue;
  }


}

@media screen and (max-width: 511px) {
  body,.container{
    background:yellow;
  }

}


@media screen and (max-width: 450px) {
  body,.container{
    background:red;
  }


}

@media screen and (max-width: 352px) {
   body,.container{
     background: #80251f;
   }
}

@media screen and (max-width: 330px) {
  body,#content{
    background: black;
  }


}