@import "variables";
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
/*
	==================
	[MAIN]
	==================
*/

html {
  height: 100%;
}

body {
  padding: 0;
  position:relative;
  background: $fon-color none repeat scroll 0 0;
  color: #232323;
  font-family: $font-family;
  font-size: 13px;
  height: 100%;
  margin: 0 auto;
}
/*
      ==================
      [MAIN]
      ==================
*/

#wrap {
  background: $fon-color none repeat scroll 0 0;
  margin: 0 auto $h-footer-minus;
  min-height: 100%;
  padding: 0 0 $h-footer;
  position: relative;
  display:flex;
  flex-direction: column;
}
header {
  background: #ffffff none repeat scroll 0 0;
  height: $h-header;
}
footer {
  color: #fff;
  font-size: 1em;
  position: relative;
}
.container {
   margin-left: auto;
   margin-right: auto;
   width: 978px;
   max-width: 978px;
   position: relative;
   padding:0 9px;
 }

a:focus {
  outline: medium none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: medium none;
  outline-offset: -2px;
}
.light-grey{
  color:$light-grey;
}






