$fon-color: #cacaca;
$blue-color: #0076FF;
$grey-color: #929292;
$light-grey: #c6c6c6;
$light-grey2: #e9e9e9;
$nav-color: #FAFAFA;
$body-color: #F1F1F5;
$after-color: #c8c7cc;
$after-color-light: #c8c7cc;
$font-family: 'Arial';
$h-header:250px;
$h-footer:70px;
$h-footer-minus:-$h-footer;
$img-width:150px;